* {
    margin: 0;
    padding: 0;
}

body {
    background: #4C5958;
}

#title {
    text-align: center;
    background-color: #173540;
    color: #ffffff;
    height: 50px;
    margin: auto;
    padding: 2px;
}

footer {
    background: #173540;
    color: white;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}

#input {
    text-align: center;
    color: #ffffff;
    background-color: #173540;
    margin: auto;
    margin-top: 5%;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}

#output {
    color: #ffffff;
    background-color: #173540;
    margin: auto;
    margin-top: 5%;
    width: fit-content;
    border-radius: 5px;
    padding: 10px;
}

button {
    background-color: #217373;
    color: #ffffff;
    border: 0;
    border-radius: 2px;
    padding: 2px;
}

titleOutput {
    text-align: center;
}

input {
    border: 0;
    border-radius: 3px;
}